pyttsx3==2.7
pywin32==310
pypiwin32==223
SpeechRecognition==3.10.0
wikipedia==1.4.0
pywhatkit==5.4
twilio==8.10.0
requests==2.31.0
python-dotenv==1.0.0
screen-brightness-control==0.8.2
psutil==5.9.5
geocoder==1.38.1
groq==0.15.0
pyaudio
comtypes==1.2.0
pycaw